@use './styles/global.scss';

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 28px;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
}
